<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Estudio Médico</title>
</head>

<header>

    <div id="headerLeft">
        <img id="logo" src="../../../assets/img/logo.png" height="55">
        Estudio <strong>Médico</strong>
    </div>
    <div id="headerUserName">
        <span>
            Investigador
        </span>
        <span id="spanGrey">
            | {{userLogged.name}}
        </span>
    </div>
    <div id="headerRight">
        <div id="buttonProfile" class="btn btn-primary navButton" (click)="doProfile()">
            <div>PERFIL</div>
            <img id="imglogout" src="../../../../assets/icons/profile.png" height="24">
        </div>
        <div id="buttonLogout" class="btn btn-primary navButton" (click)="doLogOut()">
            <div>DESCONECTAR</div>
            <img id="imglogout" src="../../../../assets/icons/logout.png" height="24">
        </div>
    </div>


</header>

<body>

    <div id="navigationBar">
        <button class="btn btn-primary navButton" (click)="doHome()">PACIENTES</button>
        <button class="btn btn-primary navButton">DOCUMENTACIÓN</button>
        <button class="btn btn-primary navButton">ESTADÍSTICAS</button>
    </div>

    <div class="appointmentBox">

        <div class="formSection">
            <div class="sectionTitle">Datos de la cita</div>
            <div class="sectionContent">
                <div class="variable">
                    <div class="textInput"> Identificador de paciente: <span
                            class="variableData">{{identificationNumber}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(1-40) %"> Fecha de realización: <span
                            class="variableData">{{investigationDay}}-{{investigationMonth}}-{{investigationYear}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
            </div>
        </div>

        <div class="formSection">
            <div class="sectionTitle">Variables principales</div>
            <div class="sectionContent">
                <div class="variable">
                    <div class="textInput" tooltip="(0-500) ng/ml"> Vitamina D: <span
                            class="variableData">{{appointment.vitaminD}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(1-40) %"> HbA1c: <span
                            class="variableData">{{appointment.hba1c}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput">Estación del año: <span class="variableData">{{appointment.season}}</span>
                    </div>
                    <div class="lineSeparator"></div>
                </div>
            </div>
        </div>

        <div class="formSection">
            <div class="sectionTitle">Variables sociodemográficas</div>
            <div class="sectionContent">
                <div class="variable">
                    <div class="textInput">Sexo: <span class="variableData">{{appointment.gender}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput">Nivel de estudios: <span
                            class="variableData">{{appointment.studyLevel}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="> 18 Años">Fecha de nacimiento: <span
                            class="variableData">{{birthDay}}-{{birthMonth}}-{{birthYear}}</span></div>
                    <div class="lineSeparator"></div>

                </div>
                <div class="variable">
                    <div class="textInput" tooltip="Ingreso unidad familiar en euros mensuales">Nivel socioeconómico
                        :<span class="variableData">{{appointment.socioeconomicLevel}}</span>
                    </div>
                    <div class="lineSeparator"></div>
                </div>
            </div>
        </div>

        <div class="formSection">
            <div class="sectionTitle">Hábitos de vida</div>
            <div class="sectionContent">
                <div class="variable">
                    <div class="textInput">Tabaco: <span *ngIf="appointment.tobacco; else notTobacco" class="variableData">SÍ</span>
                        <ng-template #notTobacco>
                            <span class="variableData">NO</span>
                        </ng-template></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput">Consumo de riesgo de alcohol: <span *ngIf="appointment.riskAlcohol; else notRiskAlcohol"
                        class="variableData">SÍ</span>
                    <ng-template #notRiskAlcohol>
                        <span class="variableData">NO</span>
                    </ng-template></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(0-1200) min">Tiempo de exposición solar al día: <span class="variableData">{{appointment.solarExposure}}</span></div>
                    <div class="lineSeparator"></div> 
                </div>
                <div class="variable">
                    <div class="textInput">Uso de crema SPF: <span *ngIf="appointment.spfCream; else notSpfCream" class="variableData">SÍ</span>
                        <ng-template #notSpfCream>
                            <span class="variableData">NO</span>
                        </ng-template></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput">Puntuación SPF: <span class="variableData">{{appointment.spfScore}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(0-700) horas/semana">Ejercicio físico: <span class="variableData">{{appointment.exercise}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
            </div>
        </div>

        <div class="formSection">
            <div class="sectionTitle">Variables clínicas</div>
            <div class="sectionContent">
                <div class="variable">
                    <div class="textInput"
                        tooltip="HbA1c<7 en pacientes sin complicaciones y <8,5 en pacientes ancianos">Control adecuado
                        de la DM2:  <span *ngIf="appointment.dm2; else notDm2" class="variableData">SÍ</span>
                        <ng-template #notDm2>
                            <span class="variableData">NO</span>
                        </ng-template></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(0-700) mg/dl">Glucemia: <span class="variableData">{{appointment.glucose}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(10-70) kg/m2">IMC: <span class="variableData">{{appointment.imc}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput">Obesidad: <span *ngIf="appointment.obesity; else notObesity" class="variableData">SÍ</span>
                        <ng-template #notObesity>
                            <span class="variableData">NO</span>
                        </ng-template></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(20-300) mmHg">TAS: <span class="variableData">{{appointment.tas}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(20-200) mmHg">TAD: <span class="variableData">{{appointment.tad}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="TA >= 140/90">Hipertensión arterial: <span *ngIf="appointment.arterialHypertension; else notArterialHypertension"
                        class="variableData">SÍ</span>
                    <ng-template #notArterialHypertension>
                        <span class="variableData">NO</span>
                    </ng-template></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(50-900) mg/dl">Colesterol total: <span class="variableData">{{appointment.cholesterol}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(1-400) mg/dl">LDL -col: <span class="variableData">{{appointment.ldl}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(1-400) mg/dl">HDL -col: <span class="variableData">{{appointment.hdl}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(1-10000) mg/dl">TG: <span class="variableData">{{appointment.tg}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="Colesterol total > 240">Dislipemia: <span *ngIf="appointment.dyslipemy; else notDislipemy" class="variableData">SÍ</span>
                        <ng-template #notDislipemy>
                            <span class="variableData">NO</span>
                        </ng-template></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(0-30) mg/dl">Creatinina: <span class="variableData">{{appointment.creatinine}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(0-200) MDRD4">Estimación del filtrado glomerular: <span class="variableData">{{appointment.glomerular}}</span></div>
                    <div class="lineSeparator"></div>  
                </div>
                <div class="variable">
                    <div class="textInput">Insuficiencia renal crónica: <span *ngIf="appointment.kidneyInsufficiency; else notKidneyInsufficiency"
                        class="variableData">SÍ</span>
                    <ng-template #notKidneyInsufficiency>
                        <span class="variableData">NO</span>
                    </ng-template></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput">Fototipo: <span class="variableData">{{appointment.fototype}}</span></div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="Intensificación farmacológica">Tratamiento para la diabetes: <span *ngIf="appointment.diabetesTreatment; else notDiabetesTreatment"
                        class="variableData">SÍ</span>
                    <ng-template #notDiabetesTreatment>
                        <span class="variableData">NO</span>
                    </ng-template>
                    </div>
                    <div class="lineSeparator"></div>
                </div>
                <div class="variable">
                    <div class="textInput">Suplementación con vitamina D: <span *ngIf="appointment.vitaminDSupplementation; else notVitaminDSupplementation"
                        class="variableData">SÍ</span>
                    <ng-template #notVitaminDSupplementation>
                        <span class="variableData">NO</span>
                    </ng-template></div>
                    <div class="lineSeparator"></div> 
                </div>
            </div>
        </div>

        <div>
            <button type="button" id="buttonReturn" class="btn btn-primary" (click)="doHome()">
                Volver
                <img id="imgReturn" src="../../../../assets/icons/previous.png" height="30">

            </button>

        </div>

    </div>


</body>