<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Estudio Médico</title>
</head>

<header>

    <div id="headerIzqa">
        Estudio <strong>Médico</strong>
    </div>
    <div id="headerUserName">
        <span>
            Investigador
        </span>
        <span id="spanGrey">
            | {{userLogged.name}}
        </span>
    </div>
    <div id="headerDcha">
        <div id="buttonPerfil" class="btn btn-primary navButton" (click)="doProfile()">
            <div>PERFIL</div>
            <img id="imglogout" src="../../../../assets/icons/profile.png" height="24">
        </div>
        <div id="buttonLogout" class="btn btn-primary navButton" (click)="doLogOut()">
            <div>DESCONECTAR</div>
            <img id="imglogout" src="../../../../assets/icons/logout.png" height="24">
        </div>
    </div>


</header>

<body>

    <div id="navigationBar">
        <button id="buttonPacientes" class="btn btn-primary navButton" (click)="doHome()">PACIENTES</button>
        <button id="buttonCitas" class="btn btn-primary navButton">DOCUMENTACIÓN</button>
        <button id="buttonEstadisticas" class="btn btn-primary navButton">ESTADÍSTICAS</button>
    </div>

    <div class="appointmentBox">

        <div class="formSection">
            <div class="sectionTitle">Datos de la cita</div>
            <div class="sectionContent">
                <div class="variable">
                    <div class="textInput"> Identificador de paciente</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{identificationNumber}}</span>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(1-40) %"> Fecha de realización</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.investigationDate}}</span>
                </div>
            </div>
        </div>

        <div class="formSection">
            <div class="sectionTitle">Variables principales</div>
            <div class="sectionContent">
                <div class="variable">
                    <div class="textInput" tooltip="(0-500) ng/ml"> Vitamina D</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.vitaminD}}</span>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(1-40) %"> HbA1c</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.hba1c}}</span>
                </div>
                <div class="variable">
                    <div class="textInput">Estación del año</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.season}}</span>
                </div>
            </div>
        </div>

        <div class="formSection">
            <div class="sectionTitle">Variables sociodemográficas</div>
            <div class="sectionContent">
                <div class="variable">
                    <div class="textInput">Sexo</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.gender}}</span>
                </div>
                <div class="variable">
                    <div class="textInput">Nivel de estudios</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.studyLevel}}</span>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="> 18 Años">Fecha de nacimiento</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.birthDate}}</span>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="Ingreso unidad familiar en euros mensuales">Nivel socioeconómico
                    </div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.socioeconomicLevel}}</span>
                </div>
            </div>
        </div>

        <div class="formSection">
            <div class="sectionTitle">Hábitos de vida</div>
            <div class="sectionContent">
                <div class="variable">
                    <div class="textInput">Tabaco</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" *ngIf="appointment.tobacco; else notTobacco"  class="variableData">SÍ</span>
                    <ng-template #notTobacco>
                        <span id="spanGrey"  class="variableData">NO</span>
                    </ng-template>
                </div>
                <div class="variable">
                    <div class="textInput">Consumo de riesgo de alcohol</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" *ngIf="appointment.riskAlcohol; else notRiskAlcohol"  class="variableData">SÍ</span>
                    <ng-template #notRiskAlcohol>
                        <span id="spanGrey"  class="variableData">NO</span>
                    </ng-template>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(0-1200) min">Tiempo de exposición solar al día</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.solarExposure}}</span>
                </div>
                <div class="variable">
                    <div class="textInput">Uso de crema SPF</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" *ngIf="appointment.spfCream; else notSpfCream"  class="variableData">SÍ</span>
                    <ng-template #notSpfCream>
                        <span id="spanGrey"  class="variableData">NO</span>
                    </ng-template>
                </div>
                <div class="variable">
                    <div class="textInput">Puntuación SPF</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.spfScore}}</span>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(0-700) horas/semana">Ejercicio físico</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.exercise}}</span>
                </div>
            </div>
        </div>

        <div class="formSection">
            <div class="sectionTitle">Variables clínicas</div>
            <div class="sectionContent">
                <div class="variable">
                    <div class="textInput"
                        tooltip="HbA1c<7 en pacientes sin complicaciones y <8,5 en pacientes ancianos">Control adecuado
                        de la DM2</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" *ngIf="appointment.dm2; else notDm2"  class="variableData">SÍ</span>
                    <ng-template #notDm2>
                        <span id="spanGrey"  class="variableData">NO</span>
                    </ng-template>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(0-700) mg/dl">Glucemia</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.glucose}}</span>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(10-70) kg/m2">IMC</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.imc}}</span>
                </div>
                <div class="variable">
                    <div class="textInput">Obesidad</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" *ngIf="appointment.obesity; else notObesity"  class="variableData">SÍ</span>
                    <ng-template #notObesity>
                        <span id="spanGrey"  class="variableData">NO</span>
                    </ng-template>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(20-300) mmHg">TAS</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.tas}}</span>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(20-200) mmHg">TAD</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.tad}}</span>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="TA >= 140/90">Hipertensión arterial</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" *ngIf="appointment.arterialHypertension; else notArterialHypertension"  class="variableData">SÍ</span>
                    <ng-template #notArterialHypertension>
                        <span id="spanGrey"  class="variableData">NO</span>
                    </ng-template>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(50-900) mg/dl">Colesterol total</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.cholesterol}}</span>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(1-400) mg/dl">LDL -col</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.ldl}}</span>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(1-400) mg/dl">HDL -col</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.hdl}}</span>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(1-10000) mg/dl">TG</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.tg}}</span>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="Colesterol total > 240">Dislipemia</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" *ngIf="appointment.dyslipemy; else notDislipemy"  class="variableData">SÍ</span>
                    <ng-template #notDislipemy>
                        <span id="spanGrey"  class="variableData">NO</span>
                    </ng-template>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(0-30) mg/dl">Creatinina</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.creatinine}}</span>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="(0-200) MDRD4">Estimación del filtrado glomerular</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.glomerular}}</span>
                </div>
                <div class="variable">
                    <div class="textInput">Insuficiencia renal crónica</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" *ngIf="appointment.kidneyInsufficiency; else notKidneyInsufficiency"  class="variableData">SÍ</span>
                    <ng-template #notKidneyInsufficiency>
                        <span id="spanGrey"  class="variableData">NO</span>
                    </ng-template>
                </div>
                <div class="variable">
                    <div class="textInput">Fototipo</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" class="variableData">{{appointment.fototype}}</span>
                </div>
                <div class="variable">
                    <div class="textInput" tooltip="Intensificación farmacológica">Tratamiento para la diabetes
                    </div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" *ngIf="appointment.diabetesTreatment; else notDiabetesTreatment"  class="variableData">SÍ</span>
                    <ng-template #notDiabetesTreatment>
                        <span id="spanGrey"  class="variableData">NO</span>
                    </ng-template>
                </div>
                <div class="variable">
                    <div class="textInput">Suplementación con vitamina D</div>
                    <div class="lineSeparator"></div>
                    <span id="spanGrey" *ngIf="appointment.vitaminDSupplementation; else notVitaminDSupplementation"  class="variableData">SÍ</span>
                    <ng-template #notVitaminDSupplementation>
                        <span id="spanGrey"  class="variableData">NO</span>
                    </ng-template>
                </div>
            </div>
        </div>

        <div>
            <button type="button" id="buttonReturn" class="btn btn-primary" (click)="doHome()">
                Volver 
                <img id="imgReturn" src="../../../../assets/icons/previous.png" height="30">

            </button>

        </div>

    </div>


</body>