<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body>
<div class="form-box">
<h2>Bienvenido</h2>
<hr>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="dni">DNI</label>
        <input type="text" placeholder="Enter DNI" formControlName="dni" class="form-control" required/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" placeholder="Enter password" formControlName="password" class="form-control" required/>
    </div>
        <button  class="btn btn-primary">Login</button>
</form>
</div>
</body>