* {
    font-family: 'Roboto Slab', serif;
}

#page{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#divRight{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  margin-top: 50px;
}

.titleTable{
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(102, 163, 255);
  align-self: flex-start;
}

.divTable{
    width: 100%;
    border-radius: 8px;
}

th, td{
    text-align: center;
}

thead{
    background: rgba(105,105,105,1);
    background: -moz-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(105,105,105,1)), color-stop(49%, rgba(102,102,102,1)), color-stop(50%, rgba(82,81,82,1)), color-stop(100%, rgba(31,31,31,1)));
    background: -webkit-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
    background: -o-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
    background: -ms-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
    background: linear-gradient(to bottom, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#1f1f1f', GradientType=0 );
}

th{
    color: white;
    font-size: 20px;
    font-weight: 575;
}

td{
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid gray;
}

strong{
    margin-right: 10px;
  }

header{
  width: 100%;
  height: 100px;
  background-color: white;
  -moz-box-shadow: 1px 2px 3px rgb(65, 115, 155);
  -webkit-box-shadow: 1px 2px 3px rgb(65, 115, 155);
  box-shadow: 1px 2px 3px rgb(65, 115, 155);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(179, 215, 248));
}

#headerLeft{
  font-size: 40px;
  color: rgb(102, 163, 255);
  margin-left: 40px;
}

#headerUserName{
  border-bottom: 3px solid rgba(255, 0, 0, 0); 
}

#headerRight{
  width: 30%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 100%;
  margin-right: 30px;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(102, 102, 102);
}

strong{
  margin-left: 10px;
}

#buttonLogout{
  text-align: center;
  display: flex;
  justify-content:center;
  align-items: center;
}

#navigationBar{
  width: 100%;
  font-size: 40px;
  -moz-box-shadow: 1px 2px 3px rgb(65, 115, 155);
  -webkit-box-shadow: 1px 2px 3px rgb(65, 115, 155);
  box-shadow: 1px 2px 3px rgb(65, 115, 155);
  display: flex;
  justify-content: flex-start;
  padding: 10px 800px 10px 80px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(179, 215, 248));
}

#divLogout:hover{
  color: rgb(10, 108, 253);
  border-bottom: 3px solid rgb(2, 89, 219); 
}

.navButton{
  min-width: 150px;
  margin-left: 20px;
  text-shadow: 1px 1px 2px #000000;
  font-weight: bold;
}

.navButton:hover{
  transform: scale(1.05, 1.05);
}

.imgMargin{
  margin-top: 4px;
  margin-left: 5px;
}

#roleUser{
  color: rgb(44, 44, 44);
}

#divRegister{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  width: 30%;
  height: 1300px;
  border-radius: 8px;
  margin-top: 50px;
  margin-bottom: 100px;
}

#headerRegister{
  width: 70%;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 70px;
  margin-top: 45px;
  color: rgb(10, 10, 10);
}

#registerName, #registerSurname, #registerDni, #registerPass, #registerPassRepeat, #registerGender{
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: column;
  width: 70%;
}


.divInput{
  width: 100%;
}

.myInput{
  width: 100%;
  border:0px solid transparent;
  background-color: rgb(245, 245, 245);
}

.gradientInput{
  width: 100%;
  height: 4px;
  background: rgba(99,180,255,1);
  background: -moz-linear-gradient(left, rgba(99,180,255,1) 0%, rgba(181,220,255,0.71) 91%, rgba(232,244,255,0.68) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(99,180,255,1)), color-stop(91%, rgba(181,220,255,0.71)), color-stop(100%, rgba(232,244,255,0.68)));
  background: -webkit-linear-gradient(left, rgba(99,180,255,1) 0%, rgba(181,220,255,0.71) 91%, rgba(232,244,255,0.68) 100%);
  background: -o-linear-gradient(left, rgba(99,180,255,1) 0%, rgba(181,220,255,0.71) 91%, rgba(232,244,255,0.68) 100%);
  background: -ms-linear-gradient(left, rgba(99,180,255,1) 0%, rgba(181,220,255,0.71) 91%, rgba(232,244,255,0.68) 100%);
  background: linear-gradient(to right, rgba(99,180,255,1) 0%, rgba(181,220,255,0.71) 91%, rgba(232,244,255,0.68) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b4ff', endColorstr='#e8f4ff', GradientType=1 );
}

.textInput{
  color: rgb(106, 106, 106);
  font-weight: bolder;
  font-size: 16px;
}

.register{
  margin-bottom: 40px;
}

input{
  height: 30px;
  border: none;
  position: relative;
  display: block;
  outline: none;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 20px,
}

#divButtonLogin{
  margin-top: 20px;
  margin-bottom: 70px;
  width: 70%;
}
#buttonLogin{
  border-radius: 15px;
  font-size: 23px;
  width: 100%;
}

#mandatoryFields{
  color: rgb(106, 106, 106);
  font-size: 16px;
}

#genderGroup{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.divGenders{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
}

.groupGender{
  display: flex;
  justify-content: center;
  align-items: center;
}

.textGender{
  color: rgb(54, 54, 54);
  font-weight: bolder;
  font-size: 12px;
  color: rgb(106, 106, 106)
}

.inputRadio{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

#buttonDelete{
  border-radius: 4px;
  border: 2px solid transparent;
  background: rgba(214,122,122,1);
  background: -moz-linear-gradient(top, rgba(214,122,122,1) 0%, rgba(209,54,54,1) 34%, rgba(184,2,2,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(214,122,122,1)), color-stop(34%, rgba(209,54,54,1)), color-stop(100%, rgba(184,2,2,1)));
  background: -webkit-linear-gradient(top, rgba(214,122,122,1) 0%, rgba(209,54,54,1) 34%, rgba(184,2,2,1) 100%);
  background: -o-linear-gradient(top, rgba(214,122,122,1) 0%, rgba(209,54,54,1) 34%, rgba(184,2,2,1) 100%);
  background: -ms-linear-gradient(top, rgba(214,122,122,1) 0%, rgba(209,54,54,1) 34%, rgba(184,2,2,1) 100%);
  background: linear-gradient(to bottom, rgba(214,122,122,1) 0%, rgba(209,54,54,1) 34%, rgba(184,2,2,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d67a7a', endColorstr='#b80202', GradientType=0 );
}

#buttonModify{
  border-radius: 4px;
  border: 2px solid transparent;
  margin-right: 7px;
  background: rgba(245,146,81,1);
  background: -moz-linear-gradient(top, rgba(245,146,81,1) 0%, rgba(199,86,0,1) 83%, rgba(156,68,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,146,81,1)), color-stop(83%, rgba(199,86,0,1)), color-stop(100%, rgba(156,68,0,1)));
  background: -webkit-linear-gradient(top, rgba(245,146,81,1) 0%, rgba(199,86,0,1) 83%, rgba(156,68,0,1) 100%);
  background: -o-linear-gradient(top, rgba(245,146,81,1) 0%, rgba(199,86,0,1) 83%, rgba(156,68,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(245,146,81,1) 0%, rgba(199,86,0,1) 83%, rgba(156,68,0,1) 100%);
  background: linear-gradient(to bottom, rgba(245,146,81,1) 0%, rgba(199,86,0,1) 83%, rgba(156,68,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59251', endColorstr='#9c4400', GradientType=0 );
}

#imgCross, #imgEdit{
  margin-bottom: 3px;
}

#buttonDelete:hover {
  border: 2px solid rgb(177, 1, 1);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(82,0,0,1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(82,0,0,1);
  box-shadow: 0px 0px 2px 0px rgba(82,0,0,1);
}

#buttonModify:hover {
  border: 2px solid rgb(177, 1, 1);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(82,0,0,1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(82,0,0,1);
  box-shadow: 0px 0px 2px 0px rgba(82,0,0,1);
}

.form{
  width: 100%;
  margin-left: 28%;
}

#modalAlert, #modalSuccess{
  font-size: 16px;
  width: 70%;
  margin-bottom: 30px;
  text-align: center;
}

#modalSuccessDelete, #modalErrorDelete{
  font-size: 18px;
  width: 100%;
}

.textEmptyList{
  color: rgb(106, 106, 106);
  font-size: 20px;
}

.thSort{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonInvisible{
  background: transparent;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  margin: 0px 4px;
}

.buttonInvisible:hover{
  background: transparent;
  border: none !important;
}

.textButton{
  text-align: center;
  display: flex;
  justify-content:center;
  align-items: center;
}

.myInputChangeViewPassword{
  margin-left: 30px;
}

.divShowPassword{
  text-align: center;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.inputShowPassword{
  margin-right: 4px;
}

.textShowPassword{
  color: rgb(128, 128, 128);
  font-size: 14px;
  font-weight: bolder;
}

#modalInvisible{
  height:80px;
}

#adminTable{
  margin-bottom: 10px;
}





