<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div id="headerLeft">
            <img id="logo" src="../../../assets/img/logo.png" height="55">
            Estudio <strong>Médico</strong>
        </div>
    </header>
<div class="form-box">
    <h2>Bienvenido</h2>
    <h4><strong>Déficit de vitamina D y control glucémico en pacientes con diabetes mellitus tipo 2 en atención primaria </strong></h4>
    <hr>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="dni">DNI</label>
            <input type="text" [(ngModel)]="inputDni" placeholder="Introduce tu DNI" onfocus="placeholder = ''" onblur="this.placeholder = 'Introduce tu DNI'" formControlName="dni" class="form-control" required autofocus/>
        </div>
        <hr>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" [(ngModel)]="inputPassword" placeholder="Introduce tu contraseña" onfocus="placeholder = ''" onblur="this.placeholder = 'Introduce tu contraseña'" formControlName="password" class="form-control" required/>
        </div>
        <hr>
            <button id="buttonLogin" class="btn btn-primary">ENTRAR</button>
    </form>

    <div id="modalAlert" class="alert alert-danger" [hidden]='!alertHidden'>
        <strong>Error! </strong> {{errorMessage}}
    </div>

</div>
</body>
