<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body>
<div class="form-box">
    <h2>Bienvenido</h2>
    <h4> El estudio médico relaciona el déficit de vitamina D y el control glucémico en pacientes con diabetes mellitus en atención primaria. </h4>
    <hr>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="dni">DNI</label>
            <input type="text" [(ngModel)]="inputDni" placeholder="Enter DNI" onfocus="placeholder = ''" onblur="this.placeholder = 'Enter DNI'" formControlName="dni" class="form-control" required/>
        </div>
        <hr>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="inputPassword" placeholder="Enter password" onfocus="placeholder = ''" onblur="this.placeholder = 'Enter password'" formControlName="password" class="form-control" required/>
        </div>
        <hr>
            <button id="buttonLogin" class="btn btn-primary">Login</button>
    </form>

    <div id="modalAlert" class="alert alert-danger" [hidden]='!alertHidden'>
        <strong>Error!</strong> {{errorMessage}}
    </div>

</div>
</body>
