* {
    font-family: 'Roboto Slab', serif;
  }

  header{
    width: 100%;
    height: 100px;
    background-color: white;
    -moz-box-shadow: 1px 2px 3px rgb(65, 115, 155);
    -webkit-box-shadow: 1px 2px 3px rgb(65, 115, 155);
    box-shadow: 1px 2px 3px rgb(65, 115, 155);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(179, 215, 248));
  }

  #headerLeft{
    font-size: 40px;
    color: rgb(102, 163, 255);
    margin-left: 40px;
}

  #headerUserName{
    border-bottom: 3px solid rgba(255, 0, 0, 0); 
  }

  #headerRight{
      width: 30%;
      display: flex;
      justify-content:space-between;
      align-items: center;
      height: 100%;
      margin-right: 30px;
      font-size: 20px;
      font-weight: bolder;
      color: rgb(102, 102, 102);
  }
  strong{
    margin-left: 10px;
  }
  .textButton{
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  #roleUser{
    color: rgb(44, 44, 44);
  }

  #content{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #divUpdateResearcher{
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #textUpdateResearcher{
    font-size: 25px;
    margin-bottom: 20px;
  }

  #boxUpdateResearcher{ 
    background-color: rgb(245, 245, 245);
    width: 60%;
    height: 740px;
    border-radius: 8px;
    margin-bottom: 30px;
    
  }

  #textModify{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    color: rgb(10, 10, 10);
  }

  .gradientInput{
    margin-top: 15px;
    width: 100%;
    height: 4px;
    background: rgba(99,180,255,1);
    background: -moz-linear-gradient(left, rgba(99,180,255,1) 0%, rgba(181,220,255,0.71) 91%, rgba(232,244,255,0.68) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(99,180,255,1)), color-stop(91%, rgba(181,220,255,0.71)), color-stop(100%, rgba(232,244,255,0.68)));
    background: -webkit-linear-gradient(left, rgba(99,180,255,1) 0%, rgba(181,220,255,0.71) 91%, rgba(232,244,255,0.68) 100%);
    background: -o-linear-gradient(left, rgba(99,180,255,1) 0%, rgba(181,220,255,0.71) 91%, rgba(232,244,255,0.68) 100%);
    background: -ms-linear-gradient(left, rgba(99,180,255,1) 0%, rgba(181,220,255,0.71) 91%, rgba(232,244,255,0.68) 100%);
    background: linear-gradient(to right, rgba(99,180,255,1) 0%, rgba(181,220,255,0.71) 91%, rgba(232,244,255,0.68) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b4ff', endColorstr='#e8f4ff', GradientType=1 );
  }

  #form1, #form2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .modify{
    width:80%;
    margin-bottom: 40px;
  }

  .myInput{
    width:100%;
  }

  .myInputChangeViewPassword{
    margin-top: 10px;
    margin-left: 30px;
  }

  .textInput{
    color: rgb(106, 106, 106);
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 10px;
  }

  #buttonModify, #buttonExit{
    font-size: 18px;
    margin: 25px 30px;
    width: 120px;
  }

  .modalDynamic{
    width: 80%;
    margin: auto;
  }

  #modalAlert, #modalSuccess{
    margin-bottom: 25px;
    text-align: center;
  }

  .blueText{
    font-size: 40px;
    color: rgb(102, 163, 255);
  }

  #buttonLogout{
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
  }

  .imgMargin{
    margin-top: 4px;
    margin-left: 5px;
  }

  .navButton{
    min-width: 120px;
    margin-left: 20px;
    text-shadow: 1px 1px 2px #000000;
    font-weight: bold;
}
