<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Estudio Médico</title>
</head>

<body>
    <header>
      <div id="headerLeft">
        <img id="logo" src="../../../assets/img/logo.png" height="55">
        Estudio <strong>Médico</strong>
      </div>
      <div id="headerRight">
        <div id="headerUserName">
          <span id="roleUser">
            Admin
          </span>
          <span>
            | {{userLogged.name}}
          </span>
        </div>

        <div class="btn btn-primary navButton buttonMain" (click)="doResearcherView()">
            <div>INVESTIGAR</div>
            <img class = "imgApp" src="../../../../assets/icons/adminToResearcher.png" height="24">
        </div>

        <div class="btn btn-primary navButton buttonMain" (click)="doLogOut()">
            <div>DESCONECTAR</div>
            <img class="imgApp" src="../../../../assets/icons/logout.png" height="24">
        </div>
      </div>
    </header>

    <div id="navigationBar">
        <button (click)="goToResearcherList()" class="btn btn-primary navButton">INVESTIGADORES</button>
        <button (click)="goToSubjectList()" class="btn btn-primary navButton">PACIENTES</button>
        <button (click)="goToInvestigationList()" class="btn btn-primary navButton">CITAS</button>
    </div>

    <div id="page">
      <div id="divFilters">
        <div id="filterBySubject">
          <form id="myForm" class="form" [formGroup]="subjectsFilterForm">
            <div id="textNumberInvestigationFilter">
                  Nº Identificación Paciente
            </div>
            <div id="divFlexFilterSubject">
              <div id="divInputFilterSubject">
                    <input id="inputFilterSubject" [(ngModel)]="inputID" type="text"  formControlName="subjectFilterID" class="form-control">
              </div>
              <div id="divInputButtonResearcher">
                <button id="buttonFind" type="button" (click)="filterSubjectsByIdentificationNumber()" class="btn btn-primary">
                  Buscar
                  <img src="../../../../assets/icons/find.png" height="18">
                </button>
              </div>
            </div>
          </form>
        </div>

        <div id="alertModal" class="alert alert-danger modalFilter" [hidden]='!alertFilterHidden'>
            <strong>Error! </strong> {{alertFilterMessage}}
        </div>

        <div id="alertSuccess" class="alert alert-success modalFilter" [hidden]='!successFilterHidden'>
          <strong>Éxito! </strong> {{successFilterMessage}}
        </div>
      </div>

      <div id="divListSubjects">
        <div id="modalSuccess" class="myModal alert alert-success" [hidden]='!successHidden'>
          <div class="textModal">
            <strong>Éxito! </strong> {{successMessage}}
          </div>
        </div>
                  
        <div id="modalError" class="myModal alert alert-danger" [hidden]='!alertHidden'>
          <div class="textModal">
            <strong>Error! </strong> {{alertMessage}}
          </div>
        </div>
      
        <div id="modalInvisible"  [hidden]='!alertInvisibleHidden'>
        </div>

        <div id="titleTableSubjects"> 
          Lista Citas Pacientes 
          <button type="button" id="buttonUpdate" (click)="refreshAppointmentList()" class= "btn btn-primary">Actualizar Lista
            <img id="imgUpdate" src="../../../../assets/icons/refresh-button.png" height="18">
          </button>
        </div>

        <div id="divTable" class="table-responsive" *ngIf="!emptyList; else divEmptyList">
          <table class="table">
            <thead>
              <tr>
              <th>
                <div class="thSort">
                  <div class="thText">
                    NÚMERO IDENTIFICACIÓN
                  </div>
                  <div>
                    <button class="buttonInvisible" type="button" (click)="sortUpIdentificationNumber()">
                      <img class="imgApp" src="../../../../assets/icons/up-arrow.png" height="24">
                    </button> 
                  </div>
                  <div>
                    <button class="buttonInvisible" type="button" (click)="sortDownIdentificationNumber()">
                      <img class="imgApp" src="../../../../assets/icons/down-arrow.png" height="24">
                    </button>    
                  </div>
                </div>
              </th>
              <th>
                <div class="thSort">
                  <div class="thText">
                    CITA REALIZADA
                  </div>
                  <div>
                    <button class="buttonInvisible" type="button" (click)="sortUpNumberInvestigation()">
                      <img class="imgApp" src="../../../../assets/icons/up-arrow.png" height="24">
                    </button> 
                  </div>
                  <div>
                    <button class="buttonInvisible" type="button" (click)="sortDownNumberInvestigation()">
                      <img class="imgApp" src="../../../../assets/icons/down-arrow.png" height="24">
                    </button>    
                  </div>
                </div>
              </th>
              <th>

              </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let appointment of appointments; let i = index"
                      [ngStyle]="{'background-color': (i % 2) !== 1 ? 'rgb(240, 240, 240)' : 'white'}">
                      <td> {{appointment.subjectIdentificationNumber}}</td>
                      <td *ngIf="appointment.numberInvestigation == 1; else secondAppointment">
                       Cita 1
                      </td>
                      <ng-template #secondAppointment> 
                      <td>
                       Cita 2
                      </td>
                    </ng-template>
                    <td>
                      <button id="buttonModify" type="button" (click)="goToModifyAppointment(appointment.investigationDetailsId, appointment.subjectIdentificationNumber)"><img id="imgEdit"
                        src="../../../../assets/icons/edit.png" height="22px"></button>
                    </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template id="divEmptyList" #divEmptyList>
            <label class="textEmptyList">Actualmente no hay citas registradas</label>
        </ng-template>
      </div>
    </div>
</body>