* {
    font-family: 'Roboto Slab', serif;
}

#page{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

header{
    width: 100%;
    height: 100px;
    background-color: white;
    -moz-box-shadow: 1px 2px 3px rgb(65, 115, 155);
    -webkit-box-shadow: 1px 2px 3px rgb(65, 115, 155);
    box-shadow: 1px 2px 3px rgb(65, 115, 155);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(179, 215, 248));
  }

#headerLeft{
    font-size: 40px;
    color: rgb(102, 163, 255);
    margin-left: 40px;
}

#headerUserName{
    border-bottom: 3px solid rgba(255, 0, 0, 0); 
}

#headerRight{
    width: 30%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(102, 102, 102);
  }

#roleUser{
    color: rgb(44, 44, 44);
}

#buttonLogout{
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
}

#navigationBar{
  width: 100%;
  font-size: 40px;
  -moz-box-shadow: 1px 2px 3px rgb(65, 115, 155);
  -webkit-box-shadow: 1px 2px 3px rgb(65, 115, 155);
  box-shadow: 1px 2px 3px rgb(65, 115, 155);
  display: flex;
  justify-content: flex-start;
  padding: 10px 800px 10px 80px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(179, 215, 248));
}

 #divLogout:hover{
    color: rgb(10, 108, 253);
    border-bottom: 3px solid rgb(2, 89, 219); 
}

.navButton{
    min-width: 150px;
    margin-left: 20px;
    text-shadow: 1px 1px 2px #000000;
    font-weight: bold;
}


.navButton:hover{
    transform: scale(1.05, 1.05);
}

#imglogout{
    margin-top: 4px;
    margin-left: 5px;
}

strong{
    margin-left: 10px;
}

#divFilters{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width:30%;
    margin-top: 193px;
}

#filterBySubject, #alertModal, #alertSuccess{
    width: 90%;
}

#textNumberInvestigationFilter{
    font-size: 30px;
    font-weight: bold;
    color: rgb(10, 10, 10);
    margin-bottom: 10px;
}

#divFlexFilterSubject{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
}

#divInputFilterSubject {
    width: 100%;
}

#divInputButtonResearcher{
    width: 90px;
}

#divListSubjects{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#titleTableSubjects{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(102, 163, 255);
    align-self: flex-start;
  }

#buttonUpdate{
    margin-left: 30px;
    font-size: 18px;
}

#divTable{
    width: 100%;
    border-radius: 8px;
}

.thSort{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonInvisible{
    background: transparent;
    border: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    margin: 0px 4px;
}

thead{
    background: rgba(105,105,105,1);
    background: -moz-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(105,105,105,1)), color-stop(49%, rgba(102,102,102,1)), color-stop(50%, rgba(82,81,82,1)), color-stop(100%, rgba(31,31,31,1)));
    background: -webkit-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
    background: -o-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
    background: -ms-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
    background: linear-gradient(to bottom, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#1f1f1f', GradientType=0 );
}

th{
    color: white;
    font-size: 20px;
    font-weight: 575;
}

td{
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid gray;
}

#buttonModify{
    border-radius: 4px;
    border: 2px solid transparent;
    margin-right: 7px;
    background: rgba(245,146,81,1);
    background: -moz-linear-gradient(top, rgba(245,146,81,1) 0%, rgba(199,86,0,1) 83%, rgba(156,68,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,146,81,1)), color-stop(83%, rgba(199,86,0,1)), color-stop(100%, rgba(156,68,0,1)));
    background: -webkit-linear-gradient(top, rgba(245,146,81,1) 0%, rgba(199,86,0,1) 83%, rgba(156,68,0,1) 100%);
    background: -o-linear-gradient(top, rgba(245,146,81,1) 0%, rgba(199,86,0,1) 83%, rgba(156,68,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,146,81,1) 0%, rgba(199,86,0,1) 83%, rgba(156,68,0,1) 100%);
    background: linear-gradient(to bottom, rgba(245,146,81,1) 0%, rgba(199,86,0,1) 83%, rgba(156,68,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59251', endColorstr='#9c4400', GradientType=0 );
  }
  

#buttonModify:hover {
    border: 2px solid rgb(177, 1, 1);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(82,0,0,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(82,0,0,1);
    box-shadow: 0px 0px 2px 0px rgba(82,0,0,1);
}

#imgEdit{
    margin-bottom: 3px;
}

.modalFilter{
    width:82%;
    align-self: flex-start;
    margin-top: 40px;
}

#modalSuccess, #modalError{
    font-size: 18px;
    width: 100%;
}

.myModal{
    height: 90px;
    align-items: center;
}

#modalInvisible{
    border:0px solid transparent;
    color: transparent;
    height: 110px; 
}

.textEmptyList{
    color: rgb(106, 106, 106);
    font-size: 20px;
    align-self: flex-start;
}

#myForm{
    width: 100%;
}

#buttonFind{
    width: 100%;
}

.textModal{
    display:inline-block;
    margin-top: 15px;
}