<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  <title>Estudio Médico</title>
</head>

<header>

    <div id="headerLeft">
        <img id="logo" src="../../../assets/img/logo.png" height="55">
        Estudio <strong>Médico</strong>
    </div>
    <div id="headerUserName">
        <span>
          Investigador
        </span>
        <span id="spanGrey">
          | {{userLogged.name}}
        </span>
    </div>
    <div id="headerRight">
        <div id="buttonProfile" class="btn btn-primary navButton" (click)="doProfile()">
            <div>PERFIL</div>
            <img class="imgMargin" src="../../../../assets/icons/profile.png" height="24">
        </div>
        <div id="buttonLogout" class="btn btn-primary navButton" (click)="doLogOut()">
            <div>DESCONECTAR</div>
            <img class="imgMargin" src="../../../../assets/icons/logout.png" height="24">
        </div>
    </div>


</header>

<body>

    <div id="navigationBar">
        <button id="buttonPacientes" class="btn btn-primary navButton" (click)="doHome()">PACIENTES</button>
        <button id="buttonCitas" class="btn btn-primary navButton">DOCUMENTACIÓN</button>
    </div>

    <div id="content">
        <div id="titleTableResearcher"><strong>INFORMACIÓN INVESTIGADOR</strong></div>

        <div id="boxGrey">
            <div id="divName">
               <div class="inlineBlock textInfo" >NOMBRE:</div>
               <div class="inlineBlock textData" >  {{this.userLogged.name}}</div>
            </div>
            <div id="divSurname">
                <div class="inlineBlock textInfo" >APELLIDOS:</div>
                <div class="inlineBlock textData" > {{this.userLogged.surname}}</div>
            </div>

        </div>
    </div>
    
    <button type="button" class="optButton btn btn-primary" (click)="doHome()">
        Volver
        <img id="previous" src="../../../../assets/icons/previous.png" height="20">
    </button>
    <button type="button" class="optButton btn btn-warning" (click)="doUpdatePass()">
        Modificar contraseña
        <img id="previous" src="../../../../assets/icons/edit.png" height="20">
    </button>

    <div id="content" *ngIf='updatePass'>
    <div id="boxGreyPass">
        <form [formGroup]="updateForm" id="form">
            <div class="modify">
                <div>
                <div class="textInput">Nueva Contraseña </div>
                <input class="myInput form-control" formControlName="password">
                </div>

                <input class="myInputChangeViewPassword" type="checkbox" name="pass1" value="pass1"> Mostrar contraseña<br>
     
                <div class="gradientInput"></div>
            </div>
            <div class="modify">
                <div>
                <div class="textInput">Repetir Contraseña </div>
                <input class="myInput form-control " formControlName="repeatedPassword">
                </div>
                <input class="myInputChangeViewPassword" type="checkbox" name="pass2" value="pass2"> Mostrar contraseña<br>

         
                <div class="gradientInput"></div>
            </div>

            <div>
                <button id="buttonModify" type="button" class="btn btn-primary" (click)="doHome()">Modificar</button>
            </div>
        </form>
    </div>
    </div>

</body>
