<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  <title>Estudio Médico</title>
</head>

<header>

    <div id="headerIzqa">
        Estudio <strong>Médico</strong>
    </div>
    <div id="headerUserName">
        <span>
          Investigador
        </span>
        <span id="spanGrey">
          | {{userLogged.name}}
        </span>
    </div>
    <div id="headerDcha">
        <div id="buttonPerfil" class="btn btn-primary navButton" (click)="doProfile()">
            <div>PERFIL</div>
            <img id="imglogout" src="../../../../assets/icons/profile.png" height="24">
        </div>
        <div id="buttonLogout" class="btn btn-primary navButton" (click)="doLogOut()">
            <div>DESCONECTAR</div>
            <img id="imglogout" src="../../../../assets/icons/logout.png" height="24">
        </div>
    </div>


</header>

<body>

 

    <div id="navigationBar">
        <button id="buttonPacientes" class="btn btn-primary navButton" (click)="doHome()">PACIENTES</button>
        <button id="buttonCitas" class="btn btn-primary navButton">DOCUMENTACIÓN</button>
        <button id="buttonEstadisticas" class="btn btn-primary navButton">ESTADÍSTICAS</button>
    </div>



    <div id="divRight">

      <div id="modalErrorDelete" class="myModal alert alert-danger" [hidden]='!alertHidden'>
        <strong>Error! </strong> {{alertMessage}}
      </div>
    
      <div id="modalSuccessDelete" class="myModal alert alert-success" [hidden]='!successHidden'>
        <strong>Éxito! </strong> {{successMessage}}
      </div>
    
      <div id="modalInvisible"  [hidden]='!alertInvisibleHidden'>
      </div>

      <div id="modalWarningDelete" class="myModal alert alert-warning" [hidden]='!alertWarningHidden'>
        <strong>Aviso! </strong> {{warningMessage}}
        <div id="divConfirmDelete">
          <div id="divConfirmDeleteLeft"> 
            <p id="textConfirmDelete">¿Desea eliminar al paciente y sus citas realizas?<p></p>
          </div>
          <div id="divConfirmDeleteRight">
              <button type="button" (click)="confirmDelete()" class="buttonConfirmDelete btn btn-success">SÍ</button>
              <button type="button" (click)="cancelDelete()" class="buttonConfirmDelete btn btn-danger">NO</button>
          </div>
           
           
        </div>   
      </div>

      <div id="headerBar">
        <div id="titleTableResearchers">
          <strong>
            LISTA PACIENTES
          </strong>
          <button type="button" class="btn btn-danger" (click)="generateExcel()">Generar Excel</button>

        </div>
        <div class="addSubject">
            <b>AÑADIR PACIENTE</b>         
            <form class="form" [formGroup]="newSubjectForm" (ngSubmit)="onSubmit()">
              Identificador:
              <input type="text" formControlName="identificationNumber" class="form-control" required>
              <button id="buttonNewSubject" type="button" class="btn btn-primary" (click)="registerSubject()">Añadir</button>
            </form>
        </div> 
      </div>

      <div id="divTable" class="table-responsive" *ngIf="!emptyList; else divEmptyList">
          <table class="table">
            <thead>
              <tr>
                <th>
                  <div class="thSort">
                    <div class="thText">
                        IDENTIFICADOR PACIENTE
                    </div>
                    <div>
                      <button class="buttonInvisible" type="button" (click)="sortUpIdentificationNumber()">
                            <img id="imglogout" src="../../../../assets/icons/up-arrow.png" height="24">
                      </button> 
                  </div>
                  <div>
                    <button class="buttonInvisible" type="button" (click)="sortDownIdentificationNumber()">
                        <img id="imglogout" src="../../../../assets/icons/down-arrow.png" height="24">
                    </button>    
                  </div>
                  </div>
                </th>
                <th>
                    <div class="thSort">
                      <div class="thText">
                          PRIMERA CITA
                      </div>
                    </div>
                  </th>
                  <th>
                      <div class="thSort">
                        <div class="thText">
                            SEGUNDA CITA
                        </div>
                      </div>
                    </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of subjects; let i = index"
                [ngStyle]="{'background-color': (i % 2) !== 1 ? 'rgb(240, 240, 240)' : 'white'}">
                <td> {{user.identificationNumber}}</td>
                <td *ngIf="user.firstInvestigationCompleted; else buttonFromSubject1">
                  <button class="buttonLook btn btn-info" type="button" (click)="showForm(user.id, 1)">
                    Consultar  <img id="imgCross" src="../../../../assets/icons/eye.png" height="20px">
                  </button>
                </td>
                <ng-template #buttonFromSubject1> <td><button class="buttonInvestigation btn btn-primary formButton" (click)="doNewForm(user.id, 1)">CITA 1</button></td></ng-template>

                <td *ngIf="user.secondInvestigationCompleted; else buttonFromSubject2">
                  <button class="buttonLook btn btn-info" type="button" (click)="showForm(user.id, 2)">
                    Consultar <img id="imgCross" src="../../../../assets/icons/eye.png" height="20px">
                  </button>
                </td>
                <ng-template #buttonFromSubject2> <td><button [disabled]="!user.firstInvestigationCompleted" class="buttonInvestigation btn btn-primary formButton" (click)="doNewForm(user.id, 2)">CITA 2</button></td></ng-template>
                <td><button id="buttonDelete" type="button" (click)="deleteSubject(user.identificationNumber)"><img id="imgCross"
                      src="../../../../assets/icons/cross.png" height="20px"></button></td>
              </tr>
            </tbody>
          </table>
      </div>    
    </div>

    

</body>
