* {
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

header{
    width: 100%;
    height: 100px;
    background-color: white;
    -moz-box-shadow: 1px 2px 3px rgb(65, 115, 155);
    -webkit-box-shadow: 1px 2px 3px rgb(65, 115, 155);
    box-shadow: 1px 2px 3px rgb(65, 115, 155);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(179, 215, 248));
  }

  #headerLeft{
    font-size: 40px;
    color: rgb(102, 163, 255);
    margin-left: 40px;
}

#headerUserName{
    font-weight: bold;
    font-size: 20px;
}

#headerRight{
    margin-right: 30px;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(102, 102, 102);
    display: flex;
    justify-content: right;
    align-items: center;
}

#buttonLogout{
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
}

#buttonProfile{
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
}

#buttonNewSubject{
    font-size: 16px;
}

#imglogout{
    margin-left: 5px;
}

.navButton:hover{
    transform: scale(1.05, 1.05);
}

#navigationBar{
    width: 100%;
    font-size: 40px;
    -moz-box-shadow: 1px 2px 3px rgb(65, 115, 155);
    -webkit-box-shadow: 1px 2px 3px rgb(65, 115, 155);
    box-shadow: 1px 2px 3px rgb(65, 115, 155);
    display: flex;
    justify-content: flex-start;
    padding: 5px 800px 5px 80px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(179, 215, 248));
}

.navButton{
    min-width: 150px;
    margin-left: 20px;
    text-shadow: 1px 1px 2px #000000;
    font-weight: bold;
}

#divRight{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#titleTableResearchers{
    font-size: 30px;
    font-weight: bold;
    color: rgb(102, 163, 255);
    width: 50%;
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
  
#divTable{
      width: 80%;
      border-radius: 8px;
      margin-top: 30px;      
}
  
thead{
      background: rgba(105,105,105,1);
      background: -moz-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(105,105,105,1)), color-stop(49%, rgba(102,102,102,1)), color-stop(50%, rgba(82,81,82,1)), color-stop(100%, rgba(31,31,31,1)));
      background: -webkit-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
      background: -o-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
      background: -ms-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
      background: linear-gradient(to bottom, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#1f1f1f', GradientType=0 );
}
  
th{
    color: white;
    font-size: 20px;
    font-weight: 575;
}
  
td{
    font-size: 20px;
}

tr{
    border-bottom: 1px solid gray;
}


.formButton{
    margin: 5px 0 5px 0;
}

.addSubject{
    width: 650px;
    padding: 8px;
    border-radius: 8px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 575;
    background: rgba(105,105,105,1);
    background: -moz-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(105,105,105,1)), color-stop(49%, rgba(102,102,102,1)), color-stop(50%, rgba(82,81,82,1)), color-stop(100%, rgba(31,31,31,1)));
    background: -webkit-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
    background: -o-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
    background: -ms-linear-gradient(top, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
    background: linear-gradient(to bottom, rgba(105,105,105,1) 0%, rgba(102,102,102,1) 49%, rgba(82,81,82,1) 50%, rgba(31,31,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#1f1f1f', GradientType=0 );
}

.form{
    margin-left: 20px;
    padding-left: 4px;
    display:flex;
    justify-content: right; 
    align-items: center;
}

#headerBar{
    width: 80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

input[type=text] {
    margin: 0 15px 0 15px;
}

#spanGrey{
    color: rgb(102, 102, 102);
}

#modalSuccess, #modalError{
    font-size: 18px;
    width: 80%;
}

.myModal{
    height: 90px;
    align-items: center;
}

#modalInvisible{
    border:0px solid transparent;
    color: transparent;
    height: 110px; 
}

.buttonLook, .buttonInvestigation{
    height: 35px;
    align-self: center;
    width: 120px;
}

.buttonLook{
    margin-top: 3px;
}

.buttonInvisible{
    background: transparent;
    border: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    margin: 0px 4px;
  }
  
.buttonInvisible:hover{
    background: transparent;
    border: none !important;
}

.thSort{
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonExcel{
    height: 52px;
    font-size: 20px;
    width: 200px;
}

#textList{
    font-size: 40px;
}

#imgExcel{
    margin-left: 8px;
}

#textAddSubject{
    margin-left: 10px;
}

.textModal{
    margin-top: 15px;
}

#imgCross{
    margin-bottom: 2px;
}

#emptyListMessage{
    width: 90%;
    font-size: 30px;
    margin-top: 30px;
    font-weight: bolder;
    color: rgb(102, 102, 102);
}
