<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Estudio Médico</title>
</head>

<header>

    <div id="headerIzqa">
        Estudio <strong>Médico</strong>
    </div>
    <div id="headerUserName">
        <span>
            Investigador
        </span>
        <span>
            | {{userLogged.name}}
        </span>
    </div>
    <div id="headerDcha">
        <div id="buttonPerfil" class="btn btn-primary navButton" (click)="doProfile()">
            <div>PERFIL</div>
            <img id="imglogout" src="../../../../assets/icons/profile.png" height="24">
        </div>
        <div id="buttonLogout" class="btn btn-primary navButton" (click)="doLogOut()">
            <div>DESCONECTAR</div>
            <img id="imglogout" src="../../../../assets/icons/logout.png" height="24">
        </div>
    </div>


</header>

<body>

    <div id="navigationBar">
        <button id="buttonPacientes" class="btn btn-primary navButton" (click)="doHome()">PACIENTES</button>
        <button id="buttonCitas" class="btn btn-primary navButton">DOCUMENTACIÓN</button>
        <button id="buttonEstadisticas" class="btn btn-primary navButton">ESTADÍSTICAS</button>
    </div>

    <form class="form" [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
        <div class="formSection">
            <div class="sectionTitle">Variables principales</div>
            <div class="sectionContent">
                <div class="form-group">
                    <div class="textInput"><span class="blackFont" tooltip="(0-500) ng/ml">Vitamina D</span></div>
                    <div class="lineSeparator"></div>
                    <input (focusout)="checkVitaminD($event.target.value)"
                        [ngClass]="{'inputRight': vitaminFieldValidated && !vitaminFirstTime, 'inputWrong': !vitaminFieldValidated && !vitaminFirstTime}"
                        class="myInput" [(ngModel)]="inputvitaminaD" type="text" formControlName="vitaminaD"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput"><span class="blackFont" tooltip="(1-40) %"> HbA1c </span></div>
                    <div class="lineSeparator"></div>
                    <input (focusout)="checkHbA1c($event.target.value)"
                        [ngClass]="{'inputRight': hbA1cValidated && !hbA1cFirstTime, 'inputWrong': !hbA1cValidated && !hbA1cFirstTime}"
                        class="myInput" [(ngModel)]="inputHbA1c" type="text" formControlName="HbA1c"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput"><span class="blackFont">Estación del año </span></div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                        <div class="divGenders">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateSeason()" class="inputRadio" type="radio"
                                        formControlName="season" value="verano" required>
                                </div>
                                <div class="textYesNo">
                                    Verano
                                </div>
                            </div>

                        </div>
                        <div class="divGeneros">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateSeason()" class="inputRadio" type="radio"
                                        formControlName="season" value="invierno" required>
                                </div>
                                <div class="textYesNo">
                                    Invierno
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="formSection">
            <div class="sectionTitle">Variables sociodemográficas</div>
            <div class="sectionContent">
                <div class="form-group">
                    <div class="textInput"><span class="blackFont">Sexo </span></div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                        <div class="divGenders">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateGender()" class="inputRadio" type="radio"
                                        formControlName="gender" value="hombre" required>
                                </div>
                                <div class="textYesNo">
                                    Hombre
                                </div>
                            </div>

                        </div>
                        <div class="divGeneros">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateGender()" class="inputRadio" type="radio"
                                        formControlName="gender" value="mujer" required>
                                </div>
                                <div class="textYesNo">
                                    Mujer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="textInput">Nivel de estudios</div>
                    <div class="lineSeparator"></div>
                    <div class="form-group">
                        <select id="inputStudies" name="inputStudies" [(ngModel)]="inputStudies" class="form-control"
                            formControlName="studies">
                            <option value="Sin estudios">Sin estudios</option>
                            <option value="Primaria">Primaria</option>
                            <option value="ESO">ESO</option>
                            <option value="Bachillerato">Bachillerato</option>
                            <option value="Universitarios">Universitarios</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="textInput">Fecha de nacimiento</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputBornDate" type="text" formControlName="bornDate"
                        bsDatepicker class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="Ingreso unidad familiar en euros mensuales">Nivel socioeconómico
                    </div>
                    <div class="lineSeparator"></div>
                    <div class="form-group">
                        <select id="inputEconomicLevel" name="inputEconomicLevel" [(ngModel)]="inputEconomicLevel"
                            class="form-control" formControlName="economicLevel">
                            <option value="0-1000">0-1000</option>
                            <option value="1001-2000">1001-2000</option>
                            <option value="2001-3000">2001-3000</option>
                            <option value=">3000">>3000</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="formSection">
            <div class="sectionTitle">Hábitos de vida</div>
            <div class="sectionContent">
                <div class="form-group">
                    <div class="textInput">Tabaco</div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                        <div class="divGenders">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateTobacco()" class="inputRadio" type="radio"
                                        formControlName="smoking" value="si" required>
                                </div>
                                <div class="textYesNo">
                                    Si
                                </div>
                            </div>

                        </div>
                        <div class="divGeneros">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateTobacco()" class="inputRadio" type="radio"
                                        formControlName="smoking" value="no" required>
                                </div>
                                <div class="textYesNo">
                                    No
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="textInput">Consumo de riesgo de alcohol</div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                        <div class="divGenders">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateAlcoholRisk()" class="inputRadio" type="radio"
                                        formControlName="alcohol" value="si" required>
                                </div>
                                <div class="textYesNo">
                                    Si
                                </div>
                            </div>

                        </div>
                        <div class="divGeneros">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateAlcoholRisk()" class="inputRadio" type="radio"
                                        formControlName="alcohol" value="no" required>
                                </div>
                                <div class="textYesNo">
                                    No
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="(0-1200) min">Tiempo de exposición solar al día</div>
                    <div class="lineSeparator"></div>
                    <input (focusout)="checkSunExposure($event.target.value)"
                        [ngClass]="{'inputRight': sunExposureValidated && !sunExposureFirstTime, 'inputWrong': !sunExposureValidated && !sunExposureFirstTime}"
                        class="myInput" [(ngModel)]="inputSolarExposition" type="text" formControlName="solarExposition"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">Uso de crema SPF</div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                        <div class="divGenders">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateSPFCream()" class="inputRadio" type="radio"
                                        formControlName="creamSPF" value="si" required>
                                </div>
                                <div class="textYesNo">
                                    Si
                                </div>
                            </div>

                        </div>
                        <div class="divGeneros">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateSPFCream()" class="inputRadio" type="radio"
                                        formControlName="creamSPF" value="no" required>
                                </div>
                                <div class="textYesNo">
                                    No
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="textInput">Puntuación SPF</div>
                    <div class="lineSeparator"></div>
                    <div class="form-group">
                        <select id="inputGradeSPF" name="inputGradeSPF" [(ngModel)]="inputGradeSPF" class="form-control"
                            formControlName="gradeSPF">
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="(0-700) horas/semana">Ejercicio físico</div>
                    <div class="lineSeparator"></div>
                    <input (focusout)="checkExercise($event.target.value)"
                        [ngClass]="{'inputRight': exerciseValidated && !exerciseFirstTime, 'inputWrong': !exerciseValidated && !exerciseFirstTime}"
                        class="myInput" [(ngModel)]="inputExercies" type="text" formControlName="exercise"
                        class="form-control" required>
                </div>
            </div>
        </div>

        <div class="formSection">
            <div class="sectionTitle">Variables clínicas</div>
            <div class="sectionContent">
                <div class="form-group">
                    <div class="textInput"
                        tooltip="HbA1c<7 en pacientes sin complicaciones y <8,5 en pacientes ancianos">Control adecuado
                        de la DM2</div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                        <div class="divGenders">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateDM2()" class="inputDM2" type="radio" formControlName="DM2"
                                        value="hombre" required>
                                </div>
                                <div class="textYesNo">
                                    Hombre
                                </div>
                            </div>
                        </div>
                        <div class="divGeneros">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateDM2()" class="inputDM2" type="radio" formControlName="DM2"
                                        value="mujer" required>
                                </div>
                                <div class="textYesNo">
                                    Mujer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="(0-700) mg/dl">Glucemia</div>
                    <div class="lineSeparator"></div>
                    <input (focusout)="checkGlucose($event.target.value)"
                        [ngClass]="{'inputRight': glucoseValidated && !glucoseFirstTime, 'inputWrong': !glucoseValidated && !glucoseFirstTime}"
                        class="myInput" [(ngModel)]="inputBloodGlucose" type="text" formControlName="bloodGlucose"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="(10-70) kg/m2">IMC</div>
                    <div class="lineSeparator"></div>
                    <input (focusout)="checkImc($event.target.value)"
                        [ngClass]="{'inputRight': imcValidated && !imcFirstTime, 'inputWrong': !imcValidated && !imcFirstTime}"
                        class="myInput" [(ngModel)]="inputIMC" type="text" formControlName="IMC" class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <div class="textInput">Obesidad</div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                        <div class="divGenders">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateObesity()" class="inputRadio" type="radio"
                                        formControlName="obesity" value="si" required>
                                </div>
                                <div class="textYesNo">
                                    Si
                                </div>
                            </div>

                        </div>
                        <div class="divGeneros">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateObesity()" class="inputRadio" type="radio"
                                        formControlName="obesity" value="no" required>
                                </div>
                                <div class="textYesNo">
                                    No
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="(20-300) mmHg">TAS</div>
                    <div class="lineSeparator"></div>
                    <input (focusout)="checkTas($event.target.value)"
                        [ngClass]="{'inputRight': tasValidated && !tasFirstTime, 'inputWrong': !tasValidated && !tasFirstTime}"
                        class="myInput" [(ngModel)]="inputTAS" type="text" formControlName="TAS" class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="(20-200) mmHg">TAD</div>
                    <div class="lineSeparator"></div>
                    <input (focusout)="checkTad($event.target.value)"
                        [ngClass]="{'inputRight': tadValidated && !tadFirstTime, 'inputWrong': !tadValidated && !tadFirstTime}"
                        class="myInput" [(ngModel)]="inputTAD" type="text" formControlName="TAD" class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="TA >= 140/90">Hipertensión arterial</div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                        <div class="divGenders">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateArterialHypertension()" class="inputRadio" type="radio"
                                        formControlName="arterialHypertension" value="si" required>
                                </div>
                                <div class="textYesNo">
                                    Si
                                </div>
                            </div>

                        </div>
                        <div class="divGeneros">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateArterialHypertension()" class="inputRadio" type="radio"
                                        formControlName="arterialHypertension" value="no" required>
                                </div>
                                <div class="textYesNo">
                                    No
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="(50-900) mg/dl">Colesterol total</div>
                    <div class="lineSeparator"></div>
                    <input (focusout)="checkCholesterol($event.target.value)"
                        [ngClass]="{'inputRight': cholesterolValidated && !cholesterolFirstTime, 'inputWrong': !cholesterolValidated && !cholesterolFirstTime}"
                        class="myInput" [(ngModel)]="inputCholesterol" type="text" formControlName="cholesterol"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="(1-400) mg/dl">LDL -col</div>
                    <div class="lineSeparator"></div>
                    <input (focusout)="checkLdl($event.target.value)"
                        [ngClass]="{'inputRight': ldlValidated && !ldlFirstTime, 'inputWrong': !ldlValidated && !ldlFirstTime}"
                        class="myInput" [(ngModel)]="inputLDL" type="text" formControlName="LDL" class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="(1-400) mg/dl">HDL -col</div>
                    <div class="lineSeparator"></div>
                    <input (focusout)="checkHdl($event.target.value)"
                        [ngClass]="{'inputRight': hdlValidated && !hdlFirstTime, 'inputWrong': !hdlValidated && !hdlFirstTime}"
                        class="myInput" [(ngModel)]="inputHDL" type="text" formControlName="HDL" class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="(1-10000) mg/dl">TG</div>
                    <div class="lineSeparator"></div>
                    <input (focusout)="checkTg($event.target.value)"
                        [ngClass]="{'inputRight': tgValidated && !tgFirstTime, 'inputWrong': !tgValidated && !tgFirstTime}"
                        class="myInput" [(ngModel)]="inputTG" type="text" formControlName="TG" class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="Colesterol total > 240">Dislipemia</div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                        <div class="divGenders">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateDyslipidemia()" class="inputRadio" type="radio"
                                        formControlName="dyslipidemia" value="si" required>
                                </div>
                                <div class="textYesNo">
                                    Si
                                </div>
                            </div>

                        </div>
                        <div class="divGeneros">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateDyslipidemia()" class="inputRadio" type="radio"
                                        formControlName="dyslipidemia" value="no" required>
                                </div>
                                <div class="textYesNo">
                                    No
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="(0-30) mg/dl">Creatinina</div>
                    <div class="lineSeparator"></div>
                    <input (focusout)="checkCreatinine($event.target.value)"
                        [ngClass]="{'inputRight': creatinineValidated && !creatinineFirstTime, 'inputWrong': !creatinineValidated && !creatinineFirstTime}"
                        class="myInput" [(ngModel)]="inputCreatinine" type="text" formControlName="creatinine"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="(0-200) MDRD4">Estimación del filtrado glomerular</div>
                    <div class="lineSeparator"></div>
                    <input (focusout)="checkGlomerular($event.target.value)"
                        [ngClass]="{'inputRight': glomerularValidated && !glomerularFirstTime, 'inputWrong': !glomerularValidated && !glomerularFirstTime}"
                        class="myInput" [(ngModel)]="inputGlomerular" type="text" formControlName="glomerular"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">Insuficiencia renal crónica</div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                        <div class="divGenders">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateKidneyInsufficiency()" class="inputRadio" type="radio"
                                        formControlName="chronicRenalFailure" value="si" required>
                                </div>
                                <div class="textYesNo">
                                    Si
                                </div>
                            </div>

                        </div>
                        <div class="divGeneros">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateKidneyInsufficiency()" class="inputRadio" type="radio"
                                        formControlName="chronicRenalFailure" value="no" required>
                                </div>
                                <div class="textYesNo">
                                    No
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="textInput">Fototipo</div>
                    <div class="lineSeparator"></div>
                    <div class="form-group">
                        <select id="inputFototype" name="inputFototype" [(ngModel)]="inputFototype" class="form-control"
                            formControlName="fototype">
                            <option value="I">I</option>
                            <option value="II">II</option>
                            <option value="III">III</option>
                            <option value="IV">IV</option>
                            <option value="V">V</option>
                            <option value="VI">VI</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="textInput" tooltip="Intensificación farmacológica">Tratamiento para la diabetes
                    </div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                        <div class="divGenders">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateDiabetesTreatment()" class="inputRadio" type="radio"
                                        formControlName="diabetesTreatment" value="si" required>
                                </div>
                                <div class="textYesNo">
                                    Si
                                </div>
                            </div>

                        </div>
                        <div class="divGeneros">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validateDiabetesTreatment()" class="inputRadio" type="radio"
                                        formControlName="diabetesTreatment" value="no" required>
                                </div>
                                <div class="textYesNo">
                                    No
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="textInput">Suplementación con vitamina D</div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                        <div class="divGenders">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validatevitaminDSupplementation()" class="inputRadio" type="radio"
                                        formControlName="vitaminDSupplementation" value="si" required>
                                </div>
                                <div class="textYesNo">
                                    Si
                                </div>
                            </div>

                        </div>
                        <div class="divGeneros">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input (click)="validatevitaminDSupplementation()" class="inputRadio" type="radio"
                                        formControlName="vitaminDSupplementation" value="no" required>
                                </div>
                                <div class="textYesNo">
                                    No
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button id="buttonForm" type="button" class="btn btn-danger" (click)="doHome()">Atras</button>
            <button id="buttonForm" type="button" class="btn btn-primary" (click)="onSubmit()">Guardar
                consulta</button>
        </div>

    </form>

</body>