<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Estudio Médico</title>
</head>

<header>

    <div id="headerIzqa">
        Estudio <strong>Médico</strong>
    </div>
    <div id="headerUserName">
        <span>
            Investigador
        </span>
        <span>
            | {{userLogged.name}}
        </span>
    </div>
    <div id="headerDcha">
        <div id="buttonPerfil" class="btn btn-primary navButton" (click)="doProfile()">
            <div>PERFIL</div>
            <img id="imglogout" src="../../../../assets/icons/profile.png" height="24">
        </div>
        <div id="buttonLogout" class="btn btn-primary navButton" (click)="doLogOut()">
            <div>DESCONECTAR</div>
            <img id="imglogout" src="../../../../assets/icons/logout.png" height="24">
        </div>
    </div>


</header>

<body>

    <div id="navigationBar">
        <button id="buttonPacientes" class="btn btn-primary navButton" (click)="doHome()">PACIENTES</button>
        <button id="buttonCitas" class="btn btn-primary navButton">DOCUMENTACIÓN</button>
        <button id="buttonEstadisticas" class="btn btn-primary navButton">ESTADÍSTICAS</button>
    </div>

    <form class="form" [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
        <div class="formSection">
            <div class="sectionTitle">Variables principales</div>
            <div class="sectionContent">
                <div class="form-group">
                    <div class="textInput"><span class="blackFont">Vitamina D </span> (0-500) ng/ml</div>
                    <div class="lineSeparator"></div>
                    <input (input)="checkVitaminD($event.target.value)" [ngClass]="vitaminFieldValidated ? 'inputRight' : 'inputWrong'"  class="myInput" [(ngModel)]="inputvitaminaD" type="text" formControlName="vitaminaD"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput"><span class="blackFont"> HbA1c </span> (1-40) %</div>
                    <div class="lineSeparator"></div>
                    <input (input)="checkHbA1c($event.target.value)" [ngClass]="hbA1cValidated ? 'inputRight' : 'inputWrong'" class="myInput" [(ngModel)]="inputHbA1c" type="text" formControlName="HbA1c"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput"><span class="blackFont">Estación del año </span></div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                            <div class="divGenders">
                                <div class="form-group yesNoRadio">
                                    <div>
                                        <input class="inputRadio" type="radio" formControlName="season" value="verano" required>
                                    </div>
                                    <div class="textYesNo">
                                        Verano
                                    </div>
                                </div>
    
                            </div>
                            <div class="divGeneros">
                                <div class="form-group yesNoRadio">
                                    <div>
                                        <input class="inputRadio" type="radio" formControlName="season" value="invierno" required>
                                    </div>
                                    <div class="textYesNo">
                                        Invierno
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="formSection">
            <div class="sectionTitle">Variables sociodemográficas</div>
            <div class="sectionContent">
                <div class="form-group">
                    <div class="textInput"><span class="blackFont">Sexo </span></div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                            <div class="divGenders">
                                <div class="form-group yesNoRadio">
                                    <div>
                                        <input class="inputRadio" type="radio" formControlName="gender" value="hombre" required>
                                    </div>
                                    <div class="textYesNo">
                                        Hombre
                                    </div>
                                </div>
    
                            </div>
                            <div class="divGeneros">
                                <div class="form-group yesNoRadio">
                                    <div>
                                        <input class="inputRadio" type="radio" formControlName="gender" value="mujer" required>
                                    </div>
                                    <div class="textYesNo">
                                        Mujer
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <div class="textInput">Nivel de estudios</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputStudies" type="text" formControlName="studies"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">Fecha de nacimiento</div>
                    <div class="lineSeparator"></div>
                    <div id="divDate">
                        <div id="divDay">
                            <select class="form-control" id="dayBorn">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                            </select>
                        </div>

                        <div id="divMonth">
                            <select class="form-control" id="dayBorn">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                            </select>
                        </div>

                        <div id="divYear">
                            <select class="form-control" id="dayBorn">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                            </select>
                        </div>
                        
                    </div>


                    <!--<input class="myInput" [(ngModel)]="inputBornDate" type="text" formControlName="bornDate"
                        class="form-control" required> -->
                </div>
                <div class="form-group">
                    <div class="textInput">Nivel socioeconómico</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputEconomicLevel" type="text" formControlName="economicLevel"
                        class="form-control" required>
                </div>
            </div>
        </div>

        <div class="formSection">
            <div class="sectionTitle">Hábitos de vida</div>
            <div class="sectionContent">
                <div class="form-group">
                    <div class="textInput">Tabaco</div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                            <div class="divGenders">
                                <div class="form-group yesNoRadio">
                                    <div>
                                        <input class="inputRadio" type="radio" formControlName="smoking" value="si" required>
                                    </div>
                                    <div class="textYesNo">
                                        Si
                                    </div>
                                </div>
    
                            </div>
                            <div class="divGeneros">
                                <div class="form-group yesNoRadio">
                                    <div>
                                        <input class="inputRadio" type="radio" formControlName="smoking" value="no" required>
                                    </div>
                                    <div class="textYesNo">
                                        No
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <div class="textInput">Consumo de riesgo de alcohol</div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                            <div class="divGenders">
                                <div class="form-group yesNoRadio">
                                    <div>
                                        <input class="inputRadio" type="radio" formControlName="alcohol" value="si" required>
                                    </div>
                                    <div class="textYesNo">
                                        Si
                                    </div>
                                </div>
    
                            </div>
                            <div class="divGeneros">
                                <div class="form-group yesNoRadio">
                                    <div>
                                        <input class="inputRadio" type="radio" formControlName="alcohol" value="no" required>
                                    </div>
                                    <div class="textYesNo">
                                        No
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <div class="textInput">Tiempo de exposición solar al día</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputSolarExposition" type="text" formControlName="solarExposition"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">Uso de crema SPF</div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                            <div class="divGenders">
                                <div class="form-group yesNoRadio">
                                    <div>
                                        <input class="inputRadio" type="radio" formControlName="creamSPF" value="si" required>
                                    </div>
                                    <div class="textYesNo">
                                        Si
                                    </div>
                                </div>
    
                            </div>
                            <div class="divGeneros">
                                <div class="form-group yesNoRadio">
                                    <div>
                                        <input class="inputRadio" type="radio" formControlName="creamSPF" value="no" required>
                                    </div>
                                    <div class="textYesNo">
                                        No
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <div class="textInput">Puntuación SPF</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputGradeSPF" type="text" formControlName="gradeSPF"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">Ejercicio físico (horas/semana)</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputExercies" type="text" formControlName="exercies"
                        class="form-control" required>
                </div>
            </div>
        </div>

        <div class="formSection">
            <div class="sectionTitle">Variables clínicas</div>
            <div class="sectionContent">
                <div class="form-group">
                    <div class="textInput">Control adecuado de la DM2</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputDM2" type="text" formControlName="DM2"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">Glucemia</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputBloodGlucose" type="text" formControlName="bloodGlucose"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">IMC</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputIMC" type="text" formControlName="IMC"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">Obesidad</div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                            <div class="divGenders">
                                <div class="form-group yesNoRadio">
                                    <div>
                                        <input class="inputRadio" type="radio" formControlName="obesity" value="si" required>
                                    </div>
                                    <div class="textYesNo">
                                        Si
                                    </div>
                                </div>
    
                            </div>
                            <div class="divGeneros">
                                <div class="form-group yesNoRadio">
                                    <div>
                                        <input class="inputRadio" type="radio" formControlName="obesity" value="no" required>
                                    </div>
                                    <div class="textYesNo">
                                        No
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <div class="textInput">TAS</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputTAS" type="text" formControlName="TAS"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">TAD</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputTAD" type="text" formControlName="TAD"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">Hipertensión arterial</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputArterialHypertension" type="text" formControlName="arterialHypertension"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">Colesterol total</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputCholesterol" type="text" formControlName="cholesterol"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">LDL -col</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputLDL" type="text" formControlName="LDL"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">HDL -col</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputHDL" type="text" formControlName="HDL"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">TG</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputTG" type="text" formControlName="TG"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">Dislipemia</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputDyslipidemia" type="text" formControlName="dyslipidemia"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">Creatinina</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputCreatinine" type="text" formControlName="creatinine"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">Estimación del filtrado glomerular</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputGlomerular" type="text" formControlName="glomerular"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">Insuficiencia renal crónica</div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                            <div class="divGenders">
                                <div class="form-group yesNoRadio">
                                    <div>
                                        <input class="inputRadio" type="radio" formControlName="chronicRenalFailure" value="si" required>
                                    </div>
                                    <div class="textYesNo">
                                        Si
                                    </div>
                                </div>
    
                            </div>
                            <div class="divGeneros">
                                <div class="form-group yesNoRadio">
                                    <div>
                                        <input class="inputRadio" type="radio" formControlName="chronicRenalFailure" value="no" required>
                                    </div>
                                    <div class="textYesNo">
                                        No
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <div class="textInput">Fototipo</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputFototype" type="text" formControlName="fototype"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">Tratamiento para la diabetes</div>
                    <div class="lineSeparator"></div>
                    <input class="myInput" [(ngModel)]="inputDiabetesTreatment" type="text" formControlName="diabetesTreatment"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <div class="textInput">Suplementación con vitamina D</div>
                    <div class="lineSeparator"></div>
                    <div id="yesNoGroup">
                        <div class="divGenders">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input class="inputRadio" type="radio" formControlName="vitaminDSupplementation" value="si" required>
                                </div>
                                <div class="textYesNo">
                                    Si
                                </div>
                            </div>

                        </div>
                        <div class="divGeneros">
                            <div class="form-group yesNoRadio">
                                <div>
                                    <input class="inputRadio" type="radio" formControlName="vitaminDSupplementation" value="no" required>
                                </div>
                                <div class="textYesNo">
                                    No
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divButtonLogin">
            <button id="buttonLogin" type="button" class="btn btn-primary" (click)="onSubmit()">Guardar consulta</button>
        </div>

    </form>

</body>